page-trainer {
    .image-trainer{
        background-size: cover !important;
    }
    .scroll-content{
        margin-top:0px !important;
    }
    ion-content{
        .trainer-detail{
            position:absolute;
            float:right;
            padding-right:5%;

            .name-trainer{
                float:right;
                right:10px;
                color:white;
                font-weight: bold;   
            }
            .stars{
                float:right;
                right:10px;    
            }
            .description{   
                word-break: break-all;
                bottom:10px;
                border:none;
                color:white;
                width:50%;
                clear:both;
                float:right;
                right:10px;
            }
        }
    }
}
