page-trainer {
    .image-trainer{
        background-size: cover !important;
    }
    .scroll-content{
        margin-top:0px !important;
    }
    ion-content{
        .trainer-detail{
            position:absolute;
            
            
            .name-trainer{
                
            }
            .stars{
                
            }
            .description{   
                word-break: break-all;
                bottom:10px;
                border:none;
                color:white;
                width:50%;
                
                
            }
        }
    }
}
