page-home {
    ion-navbar{
      margin: 0 auto;
      text-align:center;
      .logo{
        width:150px;
        height:50px;
      }
    }
    .scroll-content{
        background:url('../../assets/imgs/texture.png')#0e0e0e;
        margin-top: 100px;
        margin-bottom: 56px;
    }
    
    .card-background-page {
        ion-card {
          position: relative;
          text-align: left;
          height:140px;
          width:93%;
          margin:3% auto;
          img{
            height:140px;
            width:100%;
          }
        }
      
        .card-subtitle {
          position: absolute;
          bottom: 10%;
          font-size: 1.5em;
          width: 100%;
          font-weight: bold;
          color: #fff;
          padding-left:10px;
        }
      
        .card-title {
          padding-left:10px;
          font-size: 1.0em;
          position: absolute;
          bottom: 28%;
          width: 100%;
          color: #fff;
        }
        .cards{
          .subscribe-btn{
            bottom:7%;
            height:40px;
            font-weight: bold;
            color:black;
          }
        }
      
    }
    
}
